@media screen and (max-width: 1004px) {
    .main_background {
      padding: 7% 8% 7% 7%;
    }
}
@media screen and (max-width: 980px) {
    .main_background {
      padding: 6% 8% 6% 6%;
    }
}
@media screen and (max-width: 950px) {
    .main_background {
      padding: 5% 8% 5% 5%;
    }
}
@media screen and (max-width: 930px) {
    .main_background {
      padding: 4% 8% 4% 4%;
    }
}
@media screen and (max-width: 915px) {
    .main_background {
      padding: 3% 8% 3% 3%;
    }
}
@media screen and (max-width: 900px) {
    .main_background {
      padding: 2% 8% 2% 2%;
    }
}
@media screen and (max-width: 880px) {
    .main_background {
      padding: 1% 8% 1% 1%;
    }
}
@media screen and (max-width: 853px) {
    .main_background {
      padding: 0;
      background: inherit; /*убираем фон*/
      width: 100%;
      min-width: 300px;
    }
    .search, .main_menu {
      display: none;
    }
    .content .mobile_menu {
      display: block;
    }
    img.logo {
      top: 25px;
      left: 30px;
    }
    .slogan h1 {
      padding-top: 150px;
      padding-bottom: 200px;
      margin-top: 0;
    }
    .sandwitch_menu {
      display: inline-block;
    }
    .last_news .multiple {
      display: none;
    }
    .last_news .single {
      display: block;
    }
    .last_news .news .single .container article {
      width: 100%;
      padding-left: 0;
    }
    .last_news .news .single .container article > img {/*article прямой родитель для img*/
      width: 95%;
    }
    .last_news .news .single .container article p {
      padding-left: 20px;
      padding-right: 20px;
    }
    .last_news .news .single .container article .details_info {
      padding-left: 20px;
      padding-right: 20px;
    }
    .last_news .news .single .container article .details_info p {
      width: 92%;
    }
}
@media screen and (max-width: 790px) {
    .plashka_1 h2, .map .plashka, .last_news .plashka {
      font-size: 31px;
    }
    .plashka_2 h2 {
      font-size: 25px;
      top: 50px;
    }
    .plashka_3 h2 {
      font-size: 27px;
      line-height: 1;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .plashka_4 h2 {
      font-size: 25px;
      top: 30px;
    }
    .plashka_5 h2 {
      font-size: 21px;
      top: 250px;
    }
    .top_block {
      background-position: -50px;
    }
    .last_news .news .single .container article .details_info p {
      width: 90%;
    }
}
@media screen and (max-width: 605px) {
  img.logo {
    width: 80px;
  }
  .slogan h1 {
    font-size: 23px;
  }
  .plashka_1 h2 {
    font-size: 23px;
    top: 30px;
  }
  .map .plashka, .last_news .plashka {
    font-size: 23px;
  }
  .plashka_2 h2 {
    font-size: 21px;
  }
  .plashka_3 h2 {
    font-size: 21px;
  }
  .plashka_4 h2 {
    font-size: 21px;
  }
  .plashka_5 h2 {
    font-size: 17px;
    top: 210px;
  }
  .top_block {
    background-position: -100px;
  }
  .last_news .news .single .container article .details_info p {
    width: 88%;
   }
   footer .social {
    display: none;
   }     
}
@media screen and (max-width: 550px) {
  .plashka_2 h2 {
    font-size: 15px;
    top: 30px;
  }
  .plashka_3 h2 {
    font-size: 15px;
    top: 40px;
  }
  .plashka_4 h2 {
    font-size: 15px;
    top: 30px;
  }
  .plashka_5 h2 {
    font-size: 15px;
    top: 180px;
  }
  .last_news .news .single .container article .details_info p {
    width: 86%;
   }
}
@media screen and (max-width: 470px) {
  img.logo {
    width: 60px;
  }
  .sandwitch_menu img {
    width: 52px;
  }
  .plashka_1 h2 {
    font-size: 19px;
    top: 20px;
  }
  .plashka_5 h2 {
    top: 150px;
  }
  .map .plashka, .last_news .plashka {
    font-size: 19px;
  }
  .top_block {
    background-position: -150px;
  }
  .last_news .news .single .container article .details_info p {
    width: 84%;
  }
}
@media screen and (max-width: 420px) {
  .slogan h1 {
    font-size: 21px;
  }
  .plashka_1 h2 {
    font-size: 12px;
  }
  .plashka_2 h2 {
    font-size: 12px;
    top: 15px;
  }
  .plashka_3 h2 {
    font-size: 12px;
    top: 30px;
  }
  .plashka_4 h2 {
    font-size: 12px;
    top: 20px;
  }
  .plashka_5 h2 {
    font-size: 11px;
    top: 80px;
  }
  .map .plashka, .last_news .plashka {
    font-size: 12px;
  }
  .last_news .news .single .container article .details_info p {
    width: 82%;
   }
   .last_news .news .container article h3 {
    font-size: 11px;
   }
 }