@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,500,700,600);

.slider-wrapper {
  position: relative;
  max-width: 90rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
.slider-wrapper .slider {
  position: relative;
  height: 50rem;
  padding: 0;
}
.slider-wrapper .slider::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slider .slide-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.slider-wrapper .slide-navigation__txt {
  position: absolute;
  width: 10px;
  z-index: 1000;
  top: 0;
  right: calc(3% - 0.4rem);
}
.slider-wrapper .slide-navigation__txt ul {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  display: table-cell;
  width: 35rem;
  transform: rotate(90deg);
  transform-origin: 0;
  margin-left: calc(50% - 0.14rem);
}
.slider-wrapper .slide-navigation__txt ul::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide-navigation__txt li {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 1.2rem;
  position: relative;
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.slider-wrapper .slide-navigation__txt li span {
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
}
.slider-wrapper .slide-navigation__txt li span.active {
  transform: scale(1.1, 1.1);
  font-weight: bold;
  border: 3px solid #fff;
  padding: 12px;
  padding-top: 8px;
}
.slider-wrapper .slides-container .squares-wrapper {
  position: absolute;
  margin-left: calc(2% - 0.4rem);
  bottom: 3rem;
  height: 6.6rem;
  overflow: hidden;
  z-index: 1000;
}
.slider-wrapper .slides-container .squares-slider {
  position: relative;
  display: block;
  margin-top: -2.5rem;
  transform: translateY(-2.5rem);
}
.slider-wrapper .slides-container .square {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 1.3rem 0;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
.slider-wrapper .slides-container .square.red {
  background: #e34d67;
}
.slider-wrapper .slides-container .square.blue {
  background: #5A93DA;
}
.slider-wrapper .slides-container {
  position: relative;
  width: 100%;
  float: left;
  height: 100%;
}
.slider-wrapper .slide {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
}
.slider-wrapper .slide img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.slider-wrapper .slide .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10rem 5.8rem;
  overflow: hidden;
}
.slider-wrapper .slide .slide-content h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font: 4rem "planet_2";
  margin: 0;
  opacity: 0.9;
  position: relative;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.slider-wrapper .slide .slide-txt {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.slider-wrapper .slide .slide-txt::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide .slide-txt p {
  margin: 0;
  max-width: 55%;
  color: #666;
  font-size: 1.2rem;
  line-height: 1.4;
  float: left;
}
.slider-wrapper .slide .slide-txt button {
  display: block;
  width: 18rem;
  text-align: center;
  background: transparent;
  background-color: transparent;
  border: 0.28rem solid #fff;
  text-transform: uppercase;
  padding: 0.8rem 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  outline: none;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
