@font-face {/*подключение фирменного шрифта planet_2*/
	font-family: "planet_2";
	src: url("../fonts/planet_2.eot");
	src: url("../fonts/planet_2.eot?#iefix") format("embedded-opentype"),
	url("../fonts/planet_2.woof") format("woof"),
	url("../fonts/planet_2.ttf") format("truetype");
}

html, body {
  font-size: 10px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main_background {
	background: url(../img/background.jpg) no-repeat;
	margin: 0 auto; /*центрирование*/
	width: 854px;/*размер ширины окна с учетом рамки*/
	padding: 75px;
}
.content {
	border: 20px solid #fff;/*создание белой рамки по периметру*/
    position: relative;/*позиционирование mobile_menu*/
}
.content .mobile_menu {/*мобильное меню*/
  position: absolute;
  height: 100%;/*мобильное меню должно быть на всю высоту блока*/
  width: 212px;
  background-color: #36c;
  opacity: 0.93;
  right: 0;/*выравнивание по правому краю*/
  z-index: 10000;/*положение относительно остальных абсолютов на странице*/
  display: none;
}
.content .mobile_menu ul {
  margin-top: 30px;
}
.content .mobile_menu ul li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid transparent;
  padding: 3px;
}
.content .mobile_menu ul li:hover {
  border: 3px solid #fff;
}
.content .mobile_menu ul li a {
  color: #fff;
  font: 14px Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.content .mobile_menu .langs {
  margin-top: 10px;
  margin-left: -10px;
}
.content .mobile_menu .langs img {
  width: 20px;
}
.content .mobile_menu .langs a {
  display: inline-block; /*выравнивае в строку*/
}
.content .mobile_menu .lang_en {
    margin-left: 18px;
}
/*первый блок: навигация, логотип, строка поиска, слоган*/
.top_block {
	background: url(../img/castle_in_germany.jpg) no-repeat;
	width: 100%;
	position: relative;/*позиционирование логотипа относительно контейнера*/
}
.search {
	float: right;/*выравнивание по правому краю*/
	margin-top: 31px;
}
.search form {
	float: left;/*обтекание поля поиска справа*/
	position: relative;
}
.search form img {
	position: absolute;
	right: 5px;
	top: 4px;
	cursor: pointer;
}
.search form input[type="text"] {
	padding-right: 20px;
	width: 139px;
}
.search form input[type="text"]:focus {
	color: #007fff;
	width: 204px;
}
.lang_ru {
	margin-left: 29px;
}
.lang_en {
	margin: 0 24px 0 15px;
}
.search a {
	display: inline-block;/*выравнивание ссылок в строку*/
}
.search a img {
	margin-top: 2px;
}
img.logo {
	position: absolute; /*позиционирование логотипа относительно контейнера*/
	top: 55px;
  left: 373px;
}
.sandwitch_menu {/*кнопка для мобильной версии*/
	display: none;
	float: right;
	margin-top: 35px;
	margin-right: 35px;
}
.main_menu {
	clear: right;/*удаление обтекания по правому краю*/
}
.main_menu ul li {
	list-style: none;
  margin-left: 0;
  margin-top: 28px;
	display: inline-block;
	text-align: center;
	border: 3px solid transparent;
	padding: 10px;
}
.main_menu ul li:hover {
	border: 3px solid #fff;
	padding: 10px;
}
.main_menu ul li:nth-child(1) {/*первый элемент меню*/
	margin-left: 30px;
}
.main_menu ul li a {
	color: #fff;
	font: 14px Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
li.logo_margin {
	margin-right: 134px;
}
.slogan h1 {
	color: #fff;
	font: 41px "planet_2";
	text-align: center;
	margin-top: 65px;
	padding-bottom: 160px;
	text-shadow: 0.1em 0.1em 0.2em black;
}
/*третий блок с картой, карта будет оптимизирована про помощи javascript*/
.map{
	margin-top: -3px;
}
.map .plashka {
	background: url(../img/block3_plashka.png) no-repeat;
	padding: 20px 20px 10px 20px;
}
.plashka {
	color: #fff;
	font: 41px "planet_2";
	text-align: center;
}
.plashka h2 {
	text-shadow: 0.1em 0.1em 0.2em black;
}
.map #map {
	width: 100%;
	height: 400px;/*без высоты карта google maps не отображается*/
}
/*четвертый блок с последними новостями*/
.last_news .plashka {
	background: url(../img/block4_plashka.png) no-repeat;
	padding: 30px 20px 17px 20px;
}
.last_news .news {
	background: url(../img/news_background.png);
	padding: 32px 10px 10px 10px;
}
.last_news .news .container {
	text-align: justify;/*3 блока равномерно растягиваются по ширине*/
	overflow: hidden;/*белые блоки новостей выравниваются по высоте*/
	position: relative;/*позиционирование даты и метки относительно низа контейнера новостей*/
}
.last_news .plashka a, .map .plashka a, .last_news .plashka a:visited, .map .plashka a:visited {
	text-decoration: none;
	color: #fff;
}
.last_news .news .container a, .last_news .news .container a:visited {
	color: #000;
  text-decoration: none;
}
.last_news .news .container:after { /*добавить контент после элемента*/
	content: ''; /*для центрирования блоков(без него не сработает text-align:justify*/
	display: inline-block;
	width: 100%;
}
.last_news .news .container article {
	background: #fff;
	width: 220px; 
	padding: 20px 15px 15px 15px;
	display: inline-block;
	vertical-align: top; /*выравнивание элементов по верху*/
	padding-bottom: 500px;/*делаем заведомо большую величину новостей, чтобы общим контейнером их обрезать по 1 линии*/
	margin-bottom: -500px;
}
.last_news .news .container article h3 {
	text-transform: uppercase;
	font: 14px Arial;
	font-weight: bold;
	text-align: center;
	margin-bottom: 17px;
}
.last_news .news .container article img {
	margin: auto;/*центрирование изображения*/
	display: block;
}
.last_news .news .container article p {
	margin-top: 15px;
	font: 12px Arial;
	text-align: justify;
	margin-bottom: 21px;
 	line-height: 1;
}
.last_news .news .container article .details_info, .last_news .news .container article .details_info p {
	font: 10px Arial;
	color: #ccc;
}
.last_news .news .container article .details_info time {
	float: left; /*выравнивание по левому краю*/
	padding-top: 3px;	
	position: absolute; 
	bottom: 15px;
}
.last_news .news .container article .details_info p { /*выравнивание по правому краю*/
	margin: 0;
	position: absolute;/**/
	bottom: 15px;
	width: 27%;
	text-align: right;
}
.last_news .news .container article .details_info p img { /*выравнивание маркера*/
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -2px;
}
.last_news .news .paging {
	text-align: center;
	padding-top: 17px;
}
.last_news .news .paging a {
	font: 16px Arial;
	color: #fff;
	padding-right: 40px;
	font-weight: bold;
	text-decoration: none;
}
.last_news .news .paging a:nth-child(5) {/*отмена для 5го элемента, чтобы paging правильно центрировался*/
	padding-right: 0;
}
.last_news .news .paging a.active {
	text-decoration: underline;
}
.last_news .news .paging a:hover {
	color: #36f;
	text-decoration: underline;
}
.last_news .single {/*скрыть отображение мобильной версии*/
	display: none;
}
/*пятый блок - футер*/
#sendMail {
	color: #fff;
	text-decoration: none;
}
footer {
	width: 100%;
	background: url(../img/footer.jpg) repeat-x;
	color: #fff;
	font: 14px Arial;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}
footer p {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}
footer .social {
	width: 31px;
	height: 31px;
	background: url(../img/social.png);
	display: inline-block;
}
footer .social.right {
	margin-right: 17px;
}
footer .social.left {
	margin-left: 17px;
}
footer .social.instagram {
	background-position: 0 1px;
}
footer .social.instagram:hover {
	background-position: 0 34px;
}
footer .social.facebook {
	background-position: 164px 1px;
}
footer .social.facebook:hover {
	background-position: 164px 34px;
}
footer .social.vk {
	background-position: 131px 1px;
}
footer .social.vk:hover {
	background-position: 131px 34px;
}
footer .social.ln {
	background-position: 98px 2px;
}
footer .social.ln:hover {
	background-position: 98px 34px;
}
footer .social.twitter {
	background-position: 65px 2px;
}
footer .social.twitter:hover {
	background-position: 65px 34px;
}
footer .social.youtube {
	background-position: 32px 1px;
}
footer .social.youtube:hover {
	background-position: 32px 34px;
}