#hellopreloader>p{display:none;}
			#hellopreloader_preload{
			display: block;
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			min-width: 1000px;
			background: white url(http://www.blisshrconsultancy.com/images/default/preloader.gif) center center no-repeat;
			background-size:41px;}
			
			
			iframe{border: none;}