/*Media requests */


@media screen and (max-width: 671px) { 

	.wrapper {   
		max-width: 671px;
		min-width: 335px;
	}
	
	.menu {
		position: relative;
	}

	.topmenu > li {
		display: block; 
		padding: 5px 3px;
	}

	.topmenu > li:nth-child(5) {
		padding: 5px 3px 8px;
	}

	.topmenu a {
		padding: 3px 15px;
	}

	.topmenu > li:last-child {
		padding: 15px 15px;  
		position: absolute;
		top: -1%;
		right: -1%;
		z-index: 3;
		font-size: 18px;
	}

	.lang a {
		padding: 0 1px;
	}

	.submenu {
		width: 90%;
		top: 39%;
		left: 5%;
		display: none;
		/*display: block;  для проверки выпадающего меню*/
		padding: 12px 5px 5px 5px;
		text-align: center;
		-webkit-padding-start: 0; /*пришлось добавить, чтобы отменить стили браузера*/
	}

	.submenu li {
		width: 90%;
		display: block;
		padding: 5px 5px;
		margin: 0 auto;
		font-size: 18px;
	}

	.submenu a {
		padding: 3px 5px;
	}

	.logo {
		padding: 30px 30px 30px; /*при фиксированном меню*/
		/*padding: 30px; при нефиксировнном меню*/
	}

	.slider img {
		display: none;
	}
		
	.slider {
		border-top: 0 solid #009A3D;
	}
		
	section {
		padding: 0 20px;
	}
		
	section.form {
		padding: 5px 20px 150px;
	}

	section.form h1 {
		margin: 0 1px 68px;
	}

	.services .container div { 
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.services div:nth-child(3n+3){
		margin: 0 auto;
	}

	.advantages {
		padding-top: 8px;
	}	
		
	.advantages p {
		text-align: left;
		padding-left: 15%;
		padding-right: 0;
	}
		
	.advantages p:before {
		left: 2%;
	}	

	.calculators figure {
		font-size: 16px;
		width:100%;
	}	
		
	.calculators a:first-child {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.calculators a:last-child{
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.customers span {
		display: none;
	}

	.customers p {
		font-weight: normal;
		padding-left: 10px;
		text-align: center;
	}

	.customers .left {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.customers .right {
		float: none;
		width: 100%;
	}

	.general_info input {
		width: 100%;
		float: none;
		padding-left: 10px;
	}

	.general_info input {
		margin-right: 0;
	}

	.general_info .container input:nth-child(3n+3){
		margin-right: 0;
	}

	.message textarea {
		padding: 10px 10px;
	}

	.submit button {
		width: 50%;
	}

/*конец media*/	
}
