.gitignore
config.core.php
ht.access
.htaccess
index.php
/connectors/
/manager/

/assets/*
!/assets/components/
/assets/components/*
!/assets/components/mycomponent/
!/assets/components/cmpgeneratorpro/
/assets/components/cmpgeneratorpro/*
!/assets/components/cmpgeneratorpro/build/
/assets/components/cmpgeneratorpro/build/*
!/assets/components/cmpgeneratorpro/build/_build_mycomponent/

/core/*
!/core/components/
/core/components/*
!/core/components/mycomponent/
