/*body {
  font-family: 'Roboto', serif;
  margin: 0;
}*/

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

.BYPRO_CONTAINER {
	min-height: 100%;
	position: relative;
}

/*=== HEADER ===*/
.bypro_header {
	background-color: #DDDDDD;
	position: fixed;
	width: 100%;
	z-index: 101;
	top: 0;
}

/*-- logo --*/
.bypro_div_logo {
	width: 75px;
	margin: auto;
	padding-top: 15px;
    padding-bottom:15px;
}
.bypro_div_logo img {
	width: 100%;
}

/*-- software hardware solution --*/
.head_software {
	color: #434242;
}
.head_hardware {
	color: #898989;
}
.head_solutions {
	color: #c61e50;
}
.software, .hardware, .solutions {
	font-size: 18px;
}

/*-- social --*/
.bypro_social a {
	color: black;
	text-decoration: none;
	color: #434242;
}
.bypro_social {
	font-weight: bold;
	
}
/*=== END HEADER ===*/


/*=== LEFT MENU ===*/
.bypro_menu_points {
	background-color: #E7ECE9;
	
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.bypro_menu_points .bypro_menu_points_wrapper {
	height: 100%;
}

.bypro_menu_points menu {
	list-style-type: none;
	margin: auto;
    padding-left: 0;
}
.bypro_menu_points menu li {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.bypro_menu_points menu li a{
	text-decoration: none;
	color: #5d5959;
}
.bypro_menu_points menu li a.bypro_colorLogo {
	color: #c92261;
}
.bypro_left_menu_footer {
	position: fixed;
    width: 16.666667%;
    bottom: 0;
}

/*--- Hover ---
menu li a:hover {
	text-shadow: 0px 1px 3px #3a3c3b7d;
}
menu li a.bypro_colorLogo:hover {
	text-shadow: 0px 1px 10px #c60a507d;
}
 -- end Hover -*/

/*-- switcher --*/
.bypro_switcher {
	width: 60px;
	height: 60px;
	border: 2px solid #3a3c3b;
	border-radius: 50%;
	background-color: #e7ece9;
	outline: 3px solid #e7ece9;
}
/*-- end switcher --*/

/*-- ICONS --*/
.left_menu_icons {
    position: absolute;
    bottom: 20vh;
    border-top: 1px solid #d3d6d4;
    border-bottom: 1px solid #d3d6d4;
    opacity: .6;
}
.left_menu_icons div {
	display: inline-block;
	cursor: pointer;
}
.left_menu_icons div:first-child span img {
	width: 30px;
}
.left_menu_icons div:last-child span img {
	width: 30px;
}
.left_menu_icons div:nth-child(2) span img {
	width: 30px;
}
/*- end ICONS -*/

/*=== END LEFT MENU ===*/


/*///////////////////////////////////////// 
///////////////// CONTENT /////////////////
/////////////////////////////////////////*/
content {
	position: relative;
	
}
.bypro_content_wrapper {
	margin-top: 100px;
}
.bypro_first_block p {
	font-weight: bold;
	font-size: 18px;
}
.bypro_video_button {
	border: 1px solid rgba(123, 123, 123, 0.55);
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(14, 14, 14, 0.55);
    color: #fffbfc;
    font-size: 20px;
    cursor: pointer;
}
.bypro_first_block h1{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

/*-- Divisions --*/
.image_wrapper {
	width: 100%;
	height: 220px;
	border: 1px solid #e7ece9;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.image_wrapper p {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(182, 6, 75, 0.72);
    margin: 0;
    font-size: 28px;
    text-align: center;
    color: #fffbfc;
    padding: 10px;
}

/*============= HOME ==============*/

#home_big_one {
	font-size: 180px;
	opacity: .89;
}

.home_sumtitle {
	margin-top: 150px;
}

.home_sumtitle p {
	text-transform: uppercase;
	opacity: .89;
	font-size: 26px;
}

.home_soft_hard_sol {
	margin-top: -60px;
}

.home_content_wrapper {
	margin-top: 50px;
}
.home_services_blocks {
	margin: 0;
}
.home_services_blocks div {
    cursor: pointer;
}

/*--- Вертикальные блоки ---*/
.home_services_blocks_wrapper {
	
}

.home_services_blocks {
	width: 100%;
}
.home_services_blocks div {
	height: 600px;
	width: calc(20% - 6px);
	border-radius: 2px;
	margin: 0 3px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: .9;
}
/*--- end Вертикальные блоки ---*/

.home_services_blocks div h2 {
	font-size: 26px;
	text-transform: uppercase;
	color: #fffbfc;
	transform: rotate(-90deg);
	margin-left: 50%;
	position: relative;
	left: 0;
    -webkit-transition: left .3s ease-out 0s;
    -moz-transition: left .3s ease-out 0s;
    -o-transition: left .3s ease-out 0s;
    transition: left .3s ease-out 0s;
}

.home_services_blocks div:hover h2 {
	left: -12px;
}

.home_services_blocks div:nth-child(1) {
	height: 350px;
	top: 250px;
}
.home_services_blocks div:nth-child(1) h2 {
	margin-top: calc(250px);
}

.home_services_blocks .home_cooler_wrapper {
	height: 400px;
	top: calc(250px - 50px);
	z-index: 1;
}
.home_services_blocks .home_cooler_wrapper .home_cooler {
	top: -7px;
}
.home_services_blocks .home_cooler_wrapper h2 {
	margin-top: calc(250px + 50px);
}
.home_cooler_wrapper:hover h2 {
	left: -12px;
}

/*=== Куллер в мобильной версии ===*/
.home_services_blocks div:nth-child(3) {
	height: 325px;
    top: -40px;
    background-size: 225px;
    background-position: 0 -36px;
}
.home_services_blocks div:nth-child(3) h2 {
	margin-top: calc(250px + 130px);
    white-space: nowrap;
}
/*=== end Куллер в мобильной версии ===*/

.home_services_blocks div:nth-child(4) {
	height: 500px;
	top: calc(250px - 150px);
}
.home_services_blocks div:nth-child(4) h2 {
	white-space: nowrap;
    margin-top: calc(250px + 150px);
}
.home_services_blocks div:nth-child(5) {
	height: 550px;
    top: calc(250px - 200px);
}
.home_services_blocks div:nth-child(5) h2 {
	margin-top: calc(250px + 200px);
	white-space: nowrap;
}
.home_services_blocks div:nth-child(6) h2 {
	margin-top: calc(250px + 250px);
	white-space: nowrap;
}

.home_cooler_wrapper {
	position: relative;
	z-index: -100;
	opacity: 1;
	overflow: hidden;
}
.home_cooler_wrapper .home_cooler {
	position: absolute;
    height: auto;
    left: -3px;
    top: -86px;
    width: 405px;
    z-index: -100;
}
.home_cooler_wrapper .home_propeller {
	position: absolute;
    width: 380px;
    height: auto;
    top: 9px;
    left: 11px;
    z-index: -99;
}
.home_cooler_img {
	width: 100%;
}
.home_propeller_img {
	width: 100%;
}

							/*--- Вращение Кулера ---*/
							@keyframes rot {
							  0% {
							    transform: rotate(0deg);
							  }
							  100% {
							    transform: rotate(360deg);
							  }
							}
							@-webkit-keyframes rot {
							  0% {
							    transform: rotate(0deg);
							  }
							  100% {
							    transform: rotate(360deg);
							  }
							}
							.home_propeller_img {
								animation: .8s linear 0s normal none infinite running rot;
								-webkit-animation: .8s linear 0s normal none infinite running rot;
								-moz-animation: .8s linear 0s normal none infinite running rot;
								-o-animation: .8s linear 0s normal none infinite running rot;	
								-ms-animation: .8s linear 0s normal none infinite running rot;					
							}
							/*--- END Вращение Кулера ---*/


/*--- АКЦИИ ---*/
.christmas_tree {
	width: 170px;
	margin-top: -65px;
	opacity: .9;
}
.christmas_tree img {
	width: 100%;
	height: auto;
}

.services_content_wrapper .home_our_advantages h2 {
	font-size: 32px;
	opacity: .89;
}

.home_team_wrapper {
	width: 100%;
}
.home_team_wrapper img {
	width: auto;
    height: inherit;
    max-height: 230px;
    margin-left: 20%;
	
	-webkit-transition: margin-left .8s ease-out 0s;
    -moz-transition: margin-left .8s ease-out 0s;
    -o-transition: margin-left .8s ease-out 0s;
    transition: margin-left .8s ease-out 0s;	
}

/*-- Работа с крупными компаниями --*/
.home_work_with_big {
	overflow: hidden;
	height: 265px;
	position: relative;
}
/*-- end Работа с крупными компаниями --*/
.home_double_team {
	/*position: absolute;
	bottom: 0;*/
	margin-top: 30px;
}
.home_double_team ul {
	line-height: 2.5;
    margin-top: 0;
    margin-left: 20px;
    text-transform: uppercase;
    color: #c5024b;
}
.home_double_team ul p {
	color: rgb(35, 19, 25);
}
.home_double_code {
	position: absolute;
    top: 0;
    right: -45%;
    opacity: .1;
    z-index: -1;
    
    -webkit-transition: top .8s ease-out 0s;
    -moz-transition: top .8s ease-out 0s;
    -o-transition: top .8s ease-out 0s;
    transition: top .8s ease-out 0s;	
}
.home_double_code.code_two {
	right: 0%;
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position-x: 0;
	background-position-y: -2px;

	-webkit-transition: background-position-x .8s ease-out 0s;
    -moz-transition: background-position-x .8s ease-out 0s;
    -o-transition: background-position-x .8s ease-out 0s;
    transition: background-position-x .8s ease-out 0s;	
}
.home_double_ul {
	width: auto;
	position: absolute;
    top: 140px;
    text-align: right;
    color: #c5004a;
    text-transform: uppercase;
    line-height: 2;
   	
}
.home_double_ul ul {
	 list-style-type: none;
}

.home_double_ul p {
	color: #3c2e33;
	font-size: 18px;
	text-shadow: 0px 0px 11px #fffefe
}
.home_double_ul p span {
	color: #c5004a;
}
.home_double_ul p i {
	color: #c5004a;
	margin-left: 10px;
	font-size: 10px;
}

.bypro_first_block .home_double_code p {
	font-size: 18px;
}
.home_graf_wrapper {
	width: 100%;
}

.home_graf_wrapper img {
	width: auto;
    height: 260px;
    position: absolute;
    top: -25px;
    left: 3%;
    opacity: .7;
    z-index: -1;
    
    -webkit-transition: left .8s ease-out 0s;
    -moz-transition: left .8s ease-out 0s;
    -o-transition: left .8s ease-out 0s;
    transition: left .8s ease-out 0s;	
}

									
.home_klava_wrapper {
	width: 100%;
}
.home_klava_wrapper img {
    opacity: .7;
    width: auto;
    height: inherit;
    max-height: 300px;
    margin-top: -40px;
    margin-left: -20%;

    -webkit-transition: margin-left .8s ease-out 0s;
    -moz-transition: margin-left .8s ease-out 0s;
    -o-transition: margin-left .8s ease-out 0s;
    transition: margin-left .8s ease-out 0s;	
}

.home_circle_wrapper {
	position: absolute;
    width: 100%;
    left: 60px;
    top: 150px;
}
.home_circle_wrapper img {
	width: 65%;
    position: absolute;
    top: -128px;
    left: 15px;
    opacity: 1;
    z-index: 10;
}
.home_circle_wrapper .circle_one {
	transform: rotate(0deg);
    -webkit-transition: transform .8s linear 0s;
    -moz-transition: transform .8s linear 0s;
    -o-transition: transform .8s linear 0s;
    transition: transform .8s linear 0s;	
}
.home_circle_wrapper .circle_two {
	transform: rotate(0deg);
    -webkit-transition: transform .8s linear 0s;
    -moz-transition: transform .8s linear 0s;
    -o-transition: transform .8s linear 0s;
    transition: transform .8s linear 0s;	
}
.home_circle_wrapper .circle_three {
	transform: rotate(0deg);
    -webkit-transition: transform .8s linear 0s;
    -moz-transition: transform .8s linear 0s;
    -o-transition: transform .8s linear 0s;
    transition: transform .8s linear 0s;	
}
										

.home_net {
	position: absolute;
    top: 0;
    right: -45%;
    opacity: .35;
    z-index: -2;
    right: 0%;
    width: 100%;
    height: 250px;
    background-size: 60%;
    /*background-position-y: -31px;*/
    background-position-y: 0;
    background-position-x: right;
    background-repeat: no-repeat;

    -webkit-transition: background-size .8s linear 0s;
    -moz-transition: background-size .8s linear 0s;
    -o-transition: background-size .8s linear 0s;
    transition: background-size .8s linear 0s;	
}
.home_consult_wrapper {
	width: 100%;
}
.home_consult_wrapper img { 
	width: auto;
    height: 200px;
    position: relative;
    left: 35%;
    top: 25px;
}
.home_connect_wrapper {
	width: 100%;
}
.home_connect_wrapper p{
	color: #c5004a;
    font-size: 220px;
    position: absolute;
    top: -51px;
    left: 1%;
    z-index: -1;
    opacity: .6;
    
    -webkit-transition: top .8s linear 0s;
    -moz-transition: top .8s linear 0s;
    -o-transition: top .8s linear 0s;
    transition: top .8s linear 0s;	
}

											/*================ [ hover ] ==============*/
											@media screen and (min-width: 992px) {
												.home_special_wrapper:hover .home_double_code  {
													top: -245px;
												}
												.home_special_wrapper:hover .home_double_code.code_two {
													top: 0;
													background-position-x: 25px;
												}
												.home_special_wrapper:hover .home_graf_wrapper img  {
													left: 6%;
												}
												.home_special_wrapper:hover .circle_one {
													transform: rotate(360deg);
												}
												.home_special_wrapper:hover .circle_two {
													transform: rotate(-45deg);
												}
												.home_special_wrapper:hover .circle_three {
													transform: rotate(60deg);
												}
												.home_special_wrapper:hover .home_klava_wrapper img {
													margin-left: -10%;
												}
												.home_special_wrapper:hover .home_net {
													background-size: 62%;
												}
												.home_special_wrapper:hover .home_connect_wrapper p {
													top: -25px;
												}
											}
											/*============== [ end hover ] =============*/


.home_double_ul, .home_double_ul_two, .home_double_ul_three {
	width: 100%;
    right: 10%;
    z-index: 99;
}

		/*--- MEDIA ----*/
		@media screen and (max-width: 1659px) {
			
			/*-- 1 --*/
			.services_content_wrapper .home_our_advantages h2 {
				font-size: 24px;
			}
			.home_team_wrapper img {
				margin-left: 10%;
				opacity: .9;
			}
			/*-- 2 --*/
			
    		}
    		/*-- 3 --*/
		}
		@media screen and (max-width: 1459px) {
			/*-- 2 --*/
			
    		}
		}
		@media screen and (max-width: 1359px) {
			/*-- 3 --*/
			.home_consult_wrapper {
				opacity: .8;
			}
			.home_consult_wrapper img {
				height: 155px;
				top: 50px;
    		}
    		.home_connect_wrapper p {
    			font-size: 100px;
    		}
		}
		@media screen and (max-width: 991px) {
			/*-- 3 --*/
			.home_consult_wrapper img {
				height: 155px;
				top: 25px;
    		}
		}
		/*- END MEDIA --*/			
/*========== END HOME =============*/


/*============= ABOUT =============*/

.about_h1_and_ul ul {
	list-style-type: disc;
	color: #c5004a;
	line-height: 2;
}

.about_h1_and_ul ul li span {
	color: #231319;
	font-size: 18px;
	font-weight: bold;
}

.about_ul_one ul li, .about_ul_two ul li, .about_ul_three ul li {
	list-style-type: circle;
	font-weight: bold;
	color: #c5004a;
	font-size: 18px;
	margin-left: 20px;
}

.about_ul_one ul li span, .about_ul_two ul li span, .about_ul_three ul li span {
	color: #231319;
	font-size: 16px;
}
	
	/*--- ВИДЕО ---*/
	.about_video_wrapper {
		width: 100%;
		height: 100%;
	}
	.about_video_wrapper iframe {
		border-radius: 2px;
		height: 250px;
	}
	/*- END ВИДЕО -*/
	
	/*--- НАШИ КЛИЕНТЫ ---*/
	.one_client_wrapper {
		width: auto;
		transform: scale(1);

		-webkit-transition: -webkit-transform 0.5s ease 0s;
        -moz-transition: -moz-transform 0.5s ease 0s;
        -o-transition: -o-transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
	}
	.one_client_wrapper img {
		width: 100%;
	}
	.one_client_wrapper:hover {
		-webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
	}

	/*--- END НАШИ КЛИЕНТЫ ---*/

	/*--- СЛАЙДЕР Сертификаты ---*/
	.about_slider_certificates_wrapper, .about_slider_reviews_wrapper {
		position: relative;
	}
	.about_slider_certificates, .about_slider_reviews {
		overflow: hidden;
	}
	.about_slider_certificates ul, .about_slider_reviews ul {
		width: 9999px;
		margin: 0;
		padding: 0;
	}
	.about_slider_certificates ul li, .about_slider_reviews ul li {
		display: inline-block;
		list-style-type: none;
	}
	.img_certificates, .img_reviews {
		width: 155px;
		border: 1px solid #e7ece9;
		border-radius: 2px;
		margin: 5px;
		padding: 8px;
		background-color: white;
	}

	.img_certificates img, .img_reviews img {
		width: 100%;
		height: auto;
	}
	.about_slider_certificates, .about_slider_reviews {
		width: auto;
		z-index: 1;
	}
		/*-- Кнопки --*/
		.about_slider_reviews_right, .about_slider_reviews_left, .about_slider_certificates_right, .about_slider_certificates_left {
			position: absolute;
		    width: 16.66666%;
		    height: 120%;
		    /*border: 1px solid #e7ece9;*/
		    border-radius: 2px;
		    opacity: .4;
		}
		.about_slider_reviews_left, .about_slider_certificates_left {
			background: linear-gradient(to left, #fff, #fff, #ddd, #ddd);
			left: 0;
    		top: -10%;
    		
    																			box-shadow: -9px 0px 8px -4px rgb(0, 0, 0, 0.9);
    																			-webkit-transition: box-shadow .3s ease-out 0s;
																			    -moz-transition: box-shadow .3s ease-out 0s;
																			    -o-transition: box-shadow .3s ease-out 0s;
																			    transition: box-shadow .3s ease-out 0s;
		}
		.about_slider_arrow_left {
			margin-left: 15px;
		    font-size: 26px;
		    color: #c5004a;
		    position: absolute;
		    left: 0;
		    top: 6.5rem;
		    z-index: -1;
		}
		.about_slider_arrow_right {
			margin-right: 15px;
		    font-size: 26px;
		    color: #c5004a;
		    position: absolute;
		    top: 6.5rem;
		    right: 0;
		    z-index: -1;
		}
		.about_slider_reviews_right, .about_slider_certificates_right {
			background: linear-gradient(to right, #fff, #fff, #ddd, #ddd);
			right: 0;
    		top: -10%;
    		
    																			box-shadow: 9px 0px 8px -4px rgb(0, 0, 0, 0.9);
    																			-webkit-transition: box-shadow .3s ease-out 0s;
																			    -moz-transition: box-shadow .3s ease-out 0s;
																			    -o-transition: box-shadow .3s ease-out 0s;
																			    transition: box-shadow .3s ease-out 0s;
		}

		.about_slider_reviews_left:hover, .about_slider_certificates_left:hover {
			box-shadow: -16px 0px 15px -4px rgb(0, 0, 0, 0.9);
		}
		.about_slider_reviews_right:hover, .about_slider_certificates_right:hover {
			box-shadow: 16px 0px 15px -4px rgb(0, 0, 0, 0.9);
		}

		.about_slider_reviews_left:active, .about_slider_certificates_left:active {
			box-shadow: -4px 0px 8px -4px rgb(0, 0, 0, 0.9);
		}
		.about_slider_reviews_right:active, .about_slider_certificates_right:active {
			box-shadow: 4px 0px 8px -4px rgb(0, 0, 0, 0.9);
		}
	/*- end Сертификаты -*/

	/*--- НАШИ СОТРУДНИКИ ---*/
	.about_employeed_photo .row div img{
		border: 1px solid #e7ece9;
		border-radius: 2px;
		width: 100%;
	}

	.about_employeed_img_wrapper {
		width: 152px;
		position: relative;
	}
	.about_employeed_img_social {
		position: absolute;
		top:0;
		right: 0;
	}
	.about_employeed_img_social p {
		margin: 0;
		background-color: #c71256;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.about_employeed_img_social p a {
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		color: white;
		padding: 0 10px 0 10px;
	}
	/*- END НАШИ СОТРУДНИКИ -*/

/*-- Преимущества --*/
.about_drotik {
	width: 115px;
	margin-top: -25px;
	/* margin-left: -95px; */
	opacity: .9;
}
.about_cofe {
	width: 130px;
	margin-top: -40px;
	margin-left: 80px;
	opacity: .9;
}
.about_garantii {
	width: 150px;
	margin-top: -20px;
	/* margin-left: -95px; */
	opacity: .9;
}

.about_drotik img, .about_cofe img, .about_garantii img {
	width: 100%;
	height: auto;
}


/*========== END ABOUT ============*/


/*========== SERVICES =============*/
.bypro_first_block h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.services_our_services {
	height: 150px;
	background-color: #c71155;
	border-radius: 2px;
	border: 1px solid #e7ece9;
	position: relative;
	padding: 0;
	cursor: pointer;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.services_our_services div {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(182, 6, 75, 0.72);
}
.services_our_services h5 {
	color: #fffbfc;
}
.services_our_services h5 a {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.services_content_wrapper h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

				/*--- SUBMENU ---*/
				.services_submenu {
					position: fixed;
				    top: 110px;
				    left: -1px;
				    list-style-type: none;
				    margin: auto;
				    padding-left: 0;
				    z-index: 99;
				}
				.services_submenu ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
				.services_submenu li {
					text-transform: uppercase;
				    font-weight: bold;
				    
				    border: 1px solid #c1c0c0;
				    border-radius: 2px;
				    padding: 2px 5px 5px 90px;
				    background-color: white;
				    
				    cursor: pointer;
				}

				.services_submenu li p {
					display: inline-block;
					text-decoration: none;
					color: #5d5959;
					font-size: 14px;
					font-weight: bold;		
				}
				.services_submenu li span {
					display: inline-block;
					width: 80px;
				}
				.services_submenu li .special_contact {
					float: right;
					width: 8px;
					height: 20px;
    				background-color: #e7ece9;
    				/*visibility: hidden;*/
    				border-top-right-radius: 10px;
    				border-top-left-radius: 10px;
    				border: 2px solid #e7ece9;
    				position: relative;
    				top: 10px;
				}
				.services_submenu li:hover .special_contact {
					border-color: #c5004a;
					border-bottom: 0;
				}

				.services_submenu li .active {
					border-color: #c5004a;
					background-color: #c5004a;
				}			

				.services_submenu li:nth-child(1) {
					margin-right: calc(-20px * 5);
   					/*margin-left: calc(15px * 5);*/
				}
				.services_submenu li:nth-child(2) {
					margin-right: calc(-20px * 4);
   					/*margin-left: calc(15px * 4);*/
				}
				.services_submenu li:nth-child(3) {
					margin-right: calc(-20px * 3);
   					/*margin-left: calc(15px * 3);*/
				}
				.services_submenu li:nth-child(4) {
					margin-right: calc(-20px * 2);
   					/*margin-left: calc(15px * 2);*/
				}
				.services_submenu li:nth-child(5) {
					margin-right: calc(-20px * 1);
   					/*margin-left: calc(15px * 1);*/
				}
				/*--- END SUBMENU ---*/

/*--- Content ---*/
.services_content_wrapper {
	margin-top: 20px;
	color: #231319;
}
.services_content_wrapper h1 {
	margin: 0;
	font-size: 32px;
}

.services_description ul {
	list-style-position: inside;
    list-style-type: circle;
    color: #c6014b;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
}
.services_description ul li span {
	color: #231319;
}

.services_list_of_service h5 {
	text-transform: uppercase;
	color: #c5004a;
	font-size: 16px;
	font-weight: bold;
}
.services_list_of_service ul {
	list-style-type: none;
	font-weight: bold;
	font-size: 15px;
	
	background-color: rgba(231, 236, 233, .38);
    padding: 12px 25px 0 25px;
    border-radius: 2px;
    border: 1px solid rgba(193,192,192,.5);
    opacity: .9;
}
.services_list_of_service ul li {
	margin: 16px 0 16px 0;
}

.services_list_of_service ul li:not(:last-child){
	border-bottom: 1px solid rgba(193,192,192,.5);
    padding-bottom: 20px;
}

							/*--- FORM ---*/
							.modal-background h5, .modal-background-2 h5, .modal-background-consult h5 {
								font-size: 18px;
								font-weight: bold;
							}
							.sevrices_form_one p {
								font-weight: bolder;
							}
							.sevrices_form_one p span {
								color:#c5004a;
								font-weight: bold;
							}
							/*- END FORM -*/
/*- End Content -*/

/*======= END SERVICES ============*/


/*========= CONTACTS ==============*/
.contacts_vel, .contacts_mts {
	color: #bec7c1;
}
/*======= END CONTACTS ============*/

/*============== NEWS =============*/
.news-announcement-image-wrapper {
	width: 100%;
	height: auto;
}
.news-announcement-image-wrapper video {
	width: 100%;
	height: auto;
	border: 1px solid #e7ece9;
	border-radius: 2px;
}

.news-preview-gallery {
	width: 100%;
	height: 120px;
	border: 1px solid #e7ece9;
	border-radius: 2px;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	
	-webkit-transition: background-size 0.3s ease 0s;
    -moz-transition: background-size 0.3s ease 0s;
    -o-transition: background-size 0.3s ease 0s;
    transition: background-size 0.3s ease 0s;
}
.news-preview-gallery:hover {
	background-size: 110%;
}
.news-more {
	width: 100%;
	height: 50px;
	
	background-color: #c5004a;
	font-size: 22px;
	color: white;
	border-radius: 2px;
}
/*============ END NEWS ===========*/

/*============ ONE NEW ============*/
.one-new-photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 2px;
	cursor: pointer;
}
.one-new-photo img {
	width: 100%;
	height: inherit;
	border-radius: 2px;
	
	 -webkit-transition: -webkit-transform 0.5s ease 0s;
              -moz-transition: -moz-transform 0.5s ease 0s;
              -o-transition: -o-transform 0.5s ease 0s;
              transition: transform 0.5s ease 0s;
}
.one-new-photo img:hover {
	 -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
}

.one_new_video {
	max-height: 250px;
}
.one_new_video iframe {
	height: 100%;
}

.border_new_end {
	border-bottom: 2px solid #c5004a;
}
/*========= END ONE NEW ===========*/

/*============= JOBS ==============*/
.jobs-image-wrapper {
	width: 100%;
}
.jobs-image-wrapper img {
	width: 40%;
	min-width: 110px;
	height: auto;
	border-radius: 2px;
}
.jobs_skils, .jobs_conditions {
	list-style-type: circle;
	color: #c5004a;
}
.jobs_skils span, .jobs_conditions span {
	color: #231319;
}
.jobs_conditions_wrapper {
	border-top: 2px solid #c5004a;
	border-bottom: 2px solid #c5004a;
	padding: 10px 0 30px 0;
}
.jobs_conditions span {
	font-weight: bold;
}

/*========== END JOBS =============*/

/*///////////////////////////////////////// 
/////////////// END CONTENT ///////////////
/////////////////////////////////////////*/


/*=== FOOTER ===*/
.bypro_footer {
	background-color: #3A3C3B;
}
.bypro_div_footer_logo {
	width: 60px;
	margin: auto;
	padding-top: 20px;
    padding-bottom: 20px;
}
.bypro_left_menu_footer_logo {
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	padding-right: 20px;
	text-decoration: none;
	text-align: center;
}
.bypro_left_menu_footer_logo a {
	text-decoration: none;
}
.bypro_left_menu_footer_logo a p {
	color: #fbf5f8;
	font-size: 12px;
	font-weight: bold;
}
.bypro_div_footer_logo img, .bypro_left_menu_footer_logo img {
	width: 100%;
}
.bypro_left_menu_footer {
	background-color: #3A3C3B;
}
/*=== END FOOTER ===*/


/*=== COLOR ===*/
.bypro_colorLogo {
	color: #c92261;
}

/*=== SPECIAL ===*/
.sheme_round {
	width: 7px;
	height: 7px;
	background-color: #c5004a;
	display: inline-block;
	border-radius: 50%;
	margin: 0 25px 2px 25px;
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////                				MEDIA                             /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

			/*=== ABOUT ===*/
			@media screen and (max-width: 1199px) {
				.about_employeed_img_wrapper {
					width: 120px;
				}
			} 

			@media screen and (max-width: 991px) {
				.about_ul_one ul, .about_ul_two ul, .about_ul_three ul, {
					list-style-position: outside;
				}
				.about_drotik {
				    width: 115px;
				    /* margin-left: -150px; */
				    opacity: .9;
				}
				.bypro_first_block p {
					font-size: 18px;
				}
				.about_employeed_photo h5 {
					font-size: 20px;
				}

				.about_video_wrapper iframe {
				    height: 350px;
				}

				.about_slider_certificates_right:hover {
					box-shadow: 9px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
				.about_slider_certificates_left:hover {
					box-shadow: -9px 0px 8px -4px rgb(0, 0, 0, 0.9);
				 }
				.about_slider_certificates_right:active {
					box-shadow: 5px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
				.about_slider_certificates_left:active {
					box-shadow: -5px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
			}

			@media screen and (max-width: 767px) {
				.about_drotik, .about_cofe, .about_garantii{
				  /* display: none;*/
				}
				.img_certificates {
					width: 115px;
				}
				.about_slider_arrow_right, .about_slider_arrow_left {
					top: 4.3rem;
				}
				
				.about_employeed_img_wrapper {
					width: 152px;
				}

				.about_cofe {
				    width: 115px;
				    margin-top: -20px;
				    margin-left: 0;
				}
				.about_drotik {
					/* margin-left: -100px; */
				}
				.about_garantii {
					/* margin-left: -100px; */
				}

				.about_ul_one ul li span, .about_ul_two ul li span, .about_ul_three ul li span {
					font-size: 15px;
				}
				.services_content_wrapper h2 {
					font-size: 16px;
				}

				.bypro_first_block p {
					font-size: 18px;
				}
				.about_employeed_photo h5 {
					font-size: 22px;
				}

				.about_video_wrapper iframe {
				    height: 250px;
				}
			}

			@media screen and (max-width: 575px) {
				.about_cofe, .about_drotik, .about_garantii {
					display: none;
				}
				.about_video_wrapper iframe {
				    height: 210px;
				}
			}
			/*= END ABOUT =*/
			
			/*=== JOBS ===*/
			@media screen and (max-width: 991px) {
				.jobs-image-wrapper img {
					min-width: 85px;
				}
			}
			/*= END JOBS =*/
			
			/*=== NEWS ===*/
																@media screen and (max-width: 1759px) {
																	.news-announcement-image-wrapper {
																		width: 120%;
																	}
																}
																@media screen and (max-width: 1559px) {
																	.news-announcement-image-wrapper {
																		width: 140%;
																	}
																}
																@media screen and (max-width: 1359px) {
																	.news-announcement-image-wrapper {
																		width: 160%;
																	}
																}
																@media screen and (max-width: 1279px) {
																	.news-announcement-image-wrapper {
																		width: 170%;
																	}
																}

			@media screen and (max-width: 991px) {
				.services_content_wrapper .news_one_new_h2 {
					font-size: 20px;
				}
				.news_one_new_text p {
					font-size: 16px;
				}
				.news-announcement-image-wrapper {
					width: 100%;
				}
			}
			
			/*= END NEWS =*/
			
			/*=== ONE NEW ===*/
			@media screen and (max-width: 1199px) {
				.one_new_video iframe {
    				height: 250px;
    			}
			}

			@media screen and (max-width: 767px) {
				h2.one_new_photo_title {
					font-size: 20px;
				}
			}
			/*= END ONE NEW =*/

			/*=== CONTACTS ===*/
			@media screen and (max-width: 991px) {
				.contacts_contacts h2 {
					font-size: 20px;
				}
				.contacts_contacts p {
					font-size: 18px
				}
			}
			.contacts_quickcall_span {
				width: 50px;
			    height: 100%;
			    background-color: #c5004a;
			    border-radius: 2px;
			}
						
			.contacts_quickcall_span i {
				color: white;
			}

			@media screen and (max-width: 767px) {
				.img_reviews {
					width: 115px;
				}
			}
			/*= END CONTACTS =*/
			
			/*=== REVIEWS ===*/
			@media screen and (max-width: 991px) {
				.about_slider_reviews_right:hover {
					box-shadow: 9px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
				.about_slider_reviews_left:hover {
					box-shadow: -9px 0px 8px -4px rgb(0, 0, 0, 0.9);
				 }
				.about_slider_reviews_right:active {
					box-shadow: 5px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
				.about_slider_reviews_left:active {
					box-shadow: -5px 0px 8px -4px rgb(0, 0, 0, 0.9);
				}
			}
			/*= END REVIEWS =*/
			
			/*=== PRODUCTS ===*/
			@media screen and (max-width: 1579px) {
			    .services_submenu {
			        top: 60px;
			    }
				.services_submenu li {
					padding-left: 25px;
				}
				
			}

			@media screen and (max-width: 1379px) {
				.services_submenu li p {
					font-size: 12px;
					margin-right: -20px;
				}
			}

			@media screen and (max-width: 1199px) {
				.services_submenu {
					top: 60px;
				}
				.services_submenu li p {
					margin-right: -60px;
				}
				.services_submenu li {
					padding-left: 30px;
				}

			}

			@media screen and (max-width: 991px) {
				.services_submenu li {
					margin-right: 0 !important;
				}
				.services_submenu {
					left: -220px;
				}
			}

			@media screen and (max-width: 767px) {
				.services_description ul {
					list-style-position: outside;
					font-size: 13px;
				}
				.services_content_wrapper h1 {
					font-size: 20px;
				}
				.services_content_wrapper h2 {
    				font-size: 16px;
    			}
			}

			/*= END PRODUCTS =*/
			
			/*=== SERVICES ===*/

			/*= END SERVICES =*/
			
			/*=== HOME ===*/
			.left_menu_icons div {
				margin-left: 1rem;
				margin-right: 1rem;
			}
			.home_sumtitle p {
				font-size: 22px;
			}
			@media screen and (max-width: 1399px) {
				.left_menu_icons div {
					margin-left: .5rem;
					margin-right: .5rem;
				}

				.home_double_team {
					margin-top: 17px;
				}
				.home_circle_wrapper img {
    				width: 85%;
    			}
    			.home_consult_wrapper {
					opacity: .8;
				}
			}

			@media screen and (max-width: 1199px) {
				.left_menu_icons div {
					margin-left: .4rem;
					margin-right: .4rem;
				}
				.left_menu_icons div:first-child a img {
    				width: 27px;
    			}
    			.left_menu_icons div:nth-child(2) a img {
    				width: 27px;
    			}
				.left_menu_icons div:last-child a img {
    				width: 27px;
    			}
			}
			@media screen and (max-width: 991px) {
				.services_submenu.products {
					left: -260px;
				}
				.home_circle_wrapper img {
    				width: 100%;
    			}
    			.home_ul_three {
    				top: 120px;
    			}
    			.home_ul_three p, .home_ul_two p, .home_double_ul p {
    				font-size: 18px;
    			}
    			.home_connect_wrapper p {
    				font-size: 120px;
    				top: -25px;
    			}
    			.home_sumtitle {
    				
    				margin-left: 60px;
    			}
			}
			@media screen and (max-width: 767px) {
				.home_sumtitle {
    				margin-left: 45px;
    			}
    			.services_content_wrapper {
    				margin-top: 0;
    			}
			}

			@media screen and (max-width: 575px) {
				.services_content_wrapper .home_our_advantages h2 {
    				font-size: 20px;
    			}
    			.home_team_wrapper img {
    				margin-left: 0;
    				max-height: 140px;
    				opacity: .4;
    				margin-top: 35px;
    			}
    			.home_work_with_big {
    				height: 195px;
    			}
    			.home_graf_wrapper img {
				    width: auto;
				    height: 206px;
				    position: absolute;
				    top: -30px;
				    left: 7%;
				    opacity: .4;
				    z-index: -1;
				}

				.home_double_ul {
					top: 100px;
				}
				.home_klava_wrapper img {
					opacity: .4;
				    max-height: 230px;
				    margin-top: -29px;
				    margin-left: -20%;
				}
				.home_circle_wrapper {
					left: 58%;
    				top: 190px;
				}
				.home_double_ul, .home_double_ul_two, .home_double_ul_three {
					right: 0;
					text-align: left;
				}
				.home_double_ul li, .home_double_ul_two li, .home_double_ul_three li {
					list-style-type: disc;
				}
				.home_ul_three p, .home_ul_two p, .home_double_ul p {
					font-size: 16px;
				}
				.home_net {
					background-size: 100%;
					opacity: .2;
				}
				.home_consult_wrapper {
					opacity: .7;
				}
				.home_connect_wrapper p {
					opacity: .4;
				}

															/*===== КУЛЛЕР =====*/
															
															.home_services_blocks_wrapper {
																padding: 0;
															}
															.home_cooler_wrapper .home_propeller {
																position: absolute;
															    width: 96%;
															    height: auto;
															    top: 8px;
															    left: 2%;
															    z-index: -99;
															}
															
															.home_services_blocks div:nth-child(1) {
															    height: auto;
															    min-height: 325px;
															    top: 70px;
															}
															.home_services_blocks div {
																margin: 0;
																width: 100%;
															}
															.home_services_blocks .home_cooler_wrapper .home_cooler {
																top: 0;
																left: 0;
																width: auto;
															}
															.home_services_blocks .home_cooler_wrapper {
																top: -25px;
															}
															
															.home_sumtitle_mobile p {
																font-size: 20px;
																text-transform: uppercase;
																opacity: .89;
																line-height: 1.8;
																
																position: relative;
    															top: -75px;
															}

															#home_big_one {
																font-size: 156px;
															}
															.home_services_blocks .home_cooler_wrapper {
																height: 275px;
															}
															/*=== END КУЛЛЕР ===*/

			}

			@media screen and (max-width: 550px) {
				.home_sumtitle {
					margin-top: 200px;
					margin-left: -65px;
				}
			}

			/*= END HOME =*/
			
			/*=== MOBILE MENU ===*/
			@media screen and (max-width: 767px) {
				 .left_menu_icons {
                    position: relative;
                    bottom: 0;
                    border: 0;
                }
                .left_menu_icons div:first-child span img, .left_menu_icons div:nth-child(2) span img, .left_menu_icons div:last-child span img {
                    width: 25px;
                }
                
                /*-- Quick Call --*/
                .left_call_button {
                    width: 50px;
                    height: 50px;
                    position: fixed;
                    border-radius: 2px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    background-color: #003961;
                    color: white;
                    font-size: 34px;
                    text-align: center;
                    bottom: 120px;
                    cursor: pointer;
                    z-index: 95;
                    opacity: .8;
                }
			}
			/*= END MOBILE MENU =*/

/*=== MEDIA SCREEN ===*/
@media screen and (max-width: 991px) {
	.bypro_left_menu_footer {
    	width: 100%;
	}
}

