/*==========================================================================================================================
======================================================== [ CABINET ] =======================================================
==========================================================================================================================*/
.cabinet_header p a {
    text-decoration: none !important;
    color: #b70045;
}
.loginRegister p {
    font-size: 22px;
}

.user_order_form textarea {
    width: 100%;
    height: 225px;
    font-size: 18px;
}
.user_order_form select {
     width: 25%;
     height: 35px;
     border-width: 2px;
     font-size: 18px;
     border-radius: 2px;
}
p.urgency_description {
    font-weight: normal;
}
.user_order_form button {
    width: 85%;
    height: 50px;
    background-color: #c5004a;
    border-radius: 2px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.frame_error {
    border: 0;
    width: 100%;
    height: 60px;
    /* visibility: hidden; */
}

.cabinet_table .card-header {
    padding: 0;
}

.cabinet_table .card-body p {
    font-size: 16px;
    font-weight: normal;
}
.cabinet_table .card-body span {
    font-weight: 500;
}
.cabinet_table button {
    text-decoration: none !important;
}


.cabinet_table button p {
    font-weight: normal;
}

.cabinet_que .number {
    font-size: 20px;
}

/*========== Profile ==========*/

.cabinet_profile p {
    font-weight: normal;
    padding: 2px 0 2px 0;
}
.cabinet_profile p span {
    font-weight: bold;
}

.update-profile form input {
    width: 100%;
}

.update-profile form input.btn, .password_edit_form form input.btn {
    width: 100%;
    background-color: #c5004a;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.password_edit_form form input {
    width: 100%;
}

.updprof-error {
    font-size: 22px;
    color: #008937;
}
.error {
     font-size: 20px;
    color: #c5004a;
}

@media screen and (max-width: 767px) {
    .cabinet_profile p {
        font-size: 14px;   
    }
}

/*======= end Profile =========*/

@media screen and (max-width: 1199px ) {
    
    .cabinet_table .card-body p {
        font-size: 16px;
        white-space: nowrap;
    }
    .cabinet_table .card-header {
        border-bottom: 0;
    }
    .cabinet_table .card {
        border: 0;
    }
    .cabinet_table .btn.focus, .btn:focus {
        box-shadow: none;
        outline: none;
    }
    
}

@media screen and (max-width: 991px) {
    .user_order_form textarea {
        height: 140px;
    }
    .user_order_form select {
        width: 70%;
    }
}


/*========== FIRST_LINE ==========*/

.accordion .card:first-of-type {
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-radius: 2px !important;
}

.first_line_order_header {
	border-radius: 2px 2px 0 0 !important;
}
.first_line_one_order, .first_line_one_order .collapse {
	border-radius: 2px !important;
}
.first_line_one_order .card-body {
	padding: 0.5rem;
}
.first_line_order_header {
	border-bottom: 0;
	cursor: pointer;
}


.first_new {
	font-weight: bold;
	color: #0056b3;
}
.first_green {
	color: green;
}
.first_red {
	color: #b70045;
}
.first_all {
	
}

.first_done {
	width: 170px;
	background-color: green;
	color: white;
	font-weight: bold;
}
.first_profile {
	width: 38px;
    height: 38px;
    font-style: 22px;
    font-weight: bold;
    background-color: #0056b3;
    color: white;
    padding: 0;
}
.first_line_border_none {
    border: 0;
}


@media screen and (max-width: 1199px) {
    .cabinet_table.first_line_cabinet .card {
        border: 1px solid rgba(0,0,0,.125);
    } 
}


                                                                                        /*//////////////////////////////////////////////////////////
                                                                                        /////////////////////      POP-UP jobs Admin   /////////////
                                                                                        //////////////////////////////////////////////////////////*/
                                                                                        html.modal-active, body.modal-active {
                                                                                          overflow: hidden;
                                                                                        }

                                                                                        .special_first_line_popup_class {
                                                                                          overflow-y: scroll;
                                                                                          position: fixed;
                                                                                          height: 100%;
                                                                                          width: 100%;
                                                                                          top: 0;
                                                                                          left: 0;
                                                                                          transform: scale(0);
                                                                                          z-index: 999;
                                                                                        }
                                                                                        
                                                                                        .special_first_line_popup_class.first_line_profiles_info {
                                                                                          transform: scaleY(0.01) scaleX(0);
                                                                                          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                                                                                        }
                                                                                        .special_first_line_popup_class.first_line_profiles_info .modal-background-first_line_profiles_info .modal-first_line_profiles_info {
                                                                                          transform: scale(0);
                                                                                          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                                                                                        }
                                                                                        .special_first_line_popup_class.special_first_line_popup_class.first_line_profiles_info.pro_out {
                                                                                          transform: scale(1);
                                                                                          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                                                                                        }
                                                                                        .special_first_line_popup_class.first_line_profiles_info.pro_out .modal-background-first_line_profiles_info .modal-first_line_profiles_info {
                                                                                          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                                                                                        }
                                                                                        
                                                                                        .special_first_line_popup_class .modal-background-first_line_profiles_info {
                                                                                          display: table-cell;
                                                                                          background: rgba(0, 0, 0, 0.8);
                                                                                          text-align: center;
                                                                                          vertical-align: middle;
                                                                                          width: 100vw;
                                                                                          height: 100vh;
                                                                                        }
                                                                                        .special_first_line_popup_class .modal-background-first_line_profiles_info .modal-first_line_profiles_info {
                                                                                          background: white;
                                                                                          padding: 50px;
                                                                                          display: inline-block;
                                                                                          border-radius: 2px;
                                                                                          font-weight: 300;
                                                                                          position: relative;
                                                                                        }
                                                                                        .special_first_line_popup_class .modal-background-first_line_profiles_info .modal-first_line_profiles_info h2 {
                                                                                          font-size: 25px;
                                                                                          line-height: 25px;
                                                                                          margin-bottom: 15px;
                                                                                        }
                                                                                        .special_first_line_popup_class .modal-background-first_line_profiles_info .modal-first_line_profiles_info p {
                                                                                          font-size: 18px;
                                                                                          line-height: 22px;
                                                                                        }
                                                                                        .special_first_line_popup_class .modal-background-first_line_profiles_info .modal-first_line_profiles_info .modal-svg {
                                                                                          position: absolute;
                                                                                          top: 0;
                                                                                          left: 0;
                                                                                          height: 100%;
                                                                                          width: 100%;
                                                                                          border-radius: 2px;
                                                                                        }
                                                                                        
                                                                                        @keyframes unfoldIn {
                                                                                          0% {
                                                                                            transform: scaleY(0.005) scaleX(0);
                                                                                          }
                                                                                          50% {
                                                                                            transform: scaleY(0.005) scaleX(1);
                                                                                          }
                                                                                          100% {
                                                                                            transform: scaleY(1) scaleX(1);
                                                                                          }
                                                                                        }
                                                                                        @keyframes unfoldOut {
                                                                                          0% {
                                                                                            transform: scaleY(1) scaleX(1);
                                                                                          }
                                                                                          50% {
                                                                                            transform: scaleY(0.005) scaleX(1);
                                                                                          }
                                                                                          100% {
                                                                                            transform: scaleY(0.005) scaleX(0);
                                                                                          }
                                                                                        }
                                                                                        @keyframes zoomIn {
                                                                                          0% {
                                                                                            transform: scale(0);
                                                                                          }
                                                                                          100% {
                                                                                            transform: scale(1);
                                                                                          }
                                                                                        }
                                                                                        @keyframes zoomOut {
                                                                                          0% {
                                                                                            transform: scale(1);
                                                                                          }
                                                                                          100% {
                                                                                            transform: scale(0);
                                                                                          }
                                                                                        }

                                                                                        /*//////////////////////////////////////////////////////////
                                                                                        ///////////////////// END  POP-UP jobs Admin  //////////////
                                                                                        //////////////////////////////////////////////////////////*/


/*======== END FIRST_LINE ========*/ 