body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0);
 /*белый цвет*/
	/*filter: opacity(0.5);*/

	
 } /*все остальные, 4 остаются по умолчанию*/
 
 .new1 { /*вся форма*/
	width: 960px; /*можно ли в % ? и прописать max-width*/
	background: #fff url(img/p.png) center center repeat-y;
	color: #424242; /*серые буквы*/
	margin: 50px auto;
	padding:20px;
}

form { /*первая часть формы(основная)*/
	width:50%;
	float: left;
}

.new1:after {/*Это применять ВЕЗДЕ!!!!Разобрать.*/
	content: ""; /*генерируем пустоту, не в табличный контент*/
	display: block;
	clear: both;
} /*это применить нужно в лр №4.1 или в 4.2*/

h1 {	
	font-size: 24px;
}

div{
	margin:50px auto;
}

.new2 { /*серые полоски-разделители*/
	height:2px;
	background: #d2d3d3;/* светло-серый*/
	margin:5px  auto 50px auto;
}

.new5 { /*серая полоска-разделитель внизу*/
	margin:50px  auto 30px auto; /*	отступ div снизу*/
}

.new4 { /*ширина формы "населенный пункт"*/
	width:36%;
}


label {
	font-weight: bold; /*жирное начертание*/
}

img {
	margin:40px auto 0px auto;
}
	 
 input[type="button"] {
	/*background: #399;*/
	border-radius:10px; /*закругление углов у кнопки*/
	width: 180px; /*ширина кнопки*/
	padding: 5px 35px;/*отступы для текста*/
	color:#fff;
	border: 2px solid #fff; /*цвет темно бирюзовый*/
	outline:none; /*убирает прямоугольную рамку вокруг кнопки*/
	background: linear-gradient(to bottom,#3db8b8, #298181); /*градиент*/
}

 input[type="button"]:hover{
	background:#298181; /*цвет темно бирюзовый при наведении*/
}

 input[type="button"]:active{
	border: 2px solid #298181; /*при нажатии темно бирюзовый вет*/
}
	
.new4 input[type="text"], textarea[type="text"], .new3 select {
	border-width: 0; /*всегда прописывается, т к разные браузеры сами прописывают толщину  разной величины*/
	width: 94%;
	padding:3%;/* (100+0+0=100)*/
	border: 1px solid #bfc0c0;
	border-radius:10px;
	padding:5px;
}

.new3 select{ /*форма заполнения "животное"*/
	width:20%;
}

	
textarea[type="text"]:focus, .new4 input[type="text"]:focus, .new3 select:focus{ /*фокус хорошо использовать т к его можно исп с tab*/
	box-shadow: 0 0 0 2px rgba(51,153,153,.2); /*тень рамки*/
	outline:none; /*убирает прямоугольную рамку*/
	border: 1px solid #41a0a0; /*активный цвет бирюзоый*/
	
}
	
::-webkit-input-placeholder { /*такой вариант надписи подсказки наиболее популярный*/
	font: 12px  'Open Sans', sans-serif;
	color: #a9a9a9;
	letter-spacing: 1px; /*Определяет интервал между символами в пределах элемента*/
	text-align: center;
}

:focus::-webkit-input-placeholder { /*Псевдокласс, с помощью которого задаётся стилевое оформление(шрифт, цвет) подсказывающего текста созданного атрибутом placeholder.*/
	color: transparent;
}
